In [1]:
print(__doc__)

import numpy as np
import scipy as sp
import pandas as pd

from sklearn.preprocessing import Imputer

#loads the rides minutes csv into a dataframe
rides_minutes = pd.read_csv("C:/Users/Vi/Desktop/CMPE 188/Bikeshare-master/Data/RidesMinutes.csv")

Automatically created module for IPython interactive environment

In [2]:
rides_minutes

      Unnamed: 0       Date  NumRides  TotalMinutes
0              0   1/1/2014       359         16462
1              1   1/1/2015       181          6382
2              2   1/1/2016        98          4039
3              3  1/10/2014       983         13948
4              4  1/10/2015       362         14389
5              5  1/10/2016       133          3504
6              6  1/11/2014       247         12293
7              7  1/11/2015       327          9229
8              8  1/11/2016      1060         10649
9              9  1/12/2014       351         16102
10            10  1/12/2015      1344         14025
11            11  1/12/2016      1090         12543
12            12  1/13/2014      1015         15798
13            13  1/13/2015      1368         15812
14            14  1/13/2016      1033         10033
15            15  1/14/2014      1027         12268
16            16  1/14/2015      1296         14767
17            17  1/14/2016       838         10666
18            18  1/15/2014      1100         12704
19            19  1/15/2015      1229         14341
20            20  1/15/2016       966          9568
21            21  1/16/2014      1097         17151
22            22  1/16/2015      1082         19387
23            23  1/16/2016       162          3083
24            24  1/17/2014      1014         13937
25            25  1/17/2015       319         11673
26            26  1/17/2016       104          2110
27            27  1/18/2014       443         16437
28            28  1/18/2015       275         11394
29            29  1/18/2016       417          6152
...          ...        ...       ...           ...
1069        1069  9/28/2013       612         19800
1070        1070  9/28/2014       376         23302
1071        1071  9/28/2015      1304         15700
1072        1072  9/29/2013       517         15182
1073        1073  9/29/2014      1335         15652
1074        1074  9/29/2015      1408         16809
1075        1075   9/3/2013       597         17351
1076        1076   9/3/2014      1404         15637
1077        1077   9/3/2015      1294         16957
1078        1078  9/30/2013       976         19281
1079        1079  9/30/2014      1304         15149
1080        1080  9/30/2015      1203         12102
1081        1081   9/4/2013       606         17895
1082        1082   9/4/2014      1389         16094
1083        1083   9/4/2015      1129         13542
1084        1084   9/5/2013       677         16070
1085        1085   9/5/2014      1265         19160
1086        1086   9/5/2015       386         12370
1087        1087   9/6/2013       814         22249
1088        1088   9/6/2014       435         13037
1089        1089   9/6/2015       318         12304
1090        1090   9/7/2013       796         32397
1091        1091   9/7/2014       336         14917
1092        1092   9/7/2015       318         12101
1093        1093   9/8/2013       704         30955
1094        1094   9/8/2014      1305         26584
1095        1095   9/8/2015      1333         15474
1096        1096   9/9/2013       769         18543
1097        1097   9/9/2014      1362         22408
1098        1098   9/9/2015      1405         18680

[1099 rows x 4 columns]

In [5]:
#prints total minutes to see the min and max values
rides_minutes['TotalMinutes'].describe()

count      1099.000000
mean      15199.236579
std       10257.338035
min         542.000000
25%       11843.000000
50%       14680.000000
75%       17518.500000
max      297519.000000
Name: TotalMinutes, dtype: float64

In [7]:
#makes an empty column called MinCategorize
rides_minutes['MinCategorize'] = ""

In [10]:
#Sets the 10 different categorizes depending on range
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 0) & (rides_minutes['TotalMinutes'] < 500), 'MinCategorize'] = 'less than 500'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 500) & (rides_minutes['TotalMinutes'] < 2000), 'MinCategorize'] = '500 to 1999'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 2000) & (rides_minutes['TotalMinutes'] < 4000), 'MinCategorize'] = '2000 to 3999'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 4000) & (rides_minutes['TotalMinutes'] < 7500), 'MinCategorize'] = '4000 to 7499'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 7500) & (rides_minutes['TotalMinutes'] < 10000), 'MinCategorize'] = '7500 to 9999'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 10000) & (rides_minutes['TotalMinutes'] < 15000), 'MinCategorize'] = '10000 to 14999'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 15000) & (rides_minutes['TotalMinutes'] < 25000), 'MinCategorize'] = '15000 to 24999'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 25000) & (rides_minutes['TotalMinutes'] < 50000), 'MinCategorize'] = '25000 to 49999'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 50000) & (rides_minutes['TotalMinutes'] < 100000), 'MinCategorize'] = '50000 to 99999'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 100000), 'MinCategorize'] = '100000+'

In [11]:
rides_minutes

      Unnamed: 0       Date  NumRides  TotalMinutes   MinCategorize
0              0   1/1/2014       359         16462  15000 to 24999
1              1   1/1/2015       181          6382    4000 to 7499
2              2   1/1/2016        98          4039    4000 to 7499
3              3  1/10/2014       983         13948  10000 to 14999
4              4  1/10/2015       362         14389  10000 to 14999
5              5  1/10/2016       133          3504    2000 to 3999
6              6  1/11/2014       247         12293  10000 to 14999
7              7  1/11/2015       327          9229    7500 to 9999
8              8  1/11/2016      1060         10649  10000 to 14999
9              9  1/12/2014       351         16102  15000 to 24999
10            10  1/12/2015      1344         14025  10000 to 14999
11            11  1/12/2016      1090         12543  10000 to 14999
12            12  1/13/2014      1015         15798  15000 to 24999
13            13  1/13/2015      1368         15812  15000 to 24999
14            14  1/13/2016      1033         10033  10000 to 14999
15            15  1/14/2014      1027         12268  10000 to 14999
16            16  1/14/2015      1296         14767  10000 to 14999
17            17  1/14/2016       838         10666  10000 to 14999
18            18  1/15/2014      1100         12704  10000 to 14999
19            19  1/15/2015      1229         14341  10000 to 14999
20            20  1/15/2016       966          9568    7500 to 9999
21            21  1/16/2014      1097         17151  15000 to 24999
22            22  1/16/2015      1082         19387  15000 to 24999
23            23  1/16/2016       162          3083    2000 to 3999
24            24  1/17/2014      1014         13937  10000 to 14999
25            25  1/17/2015       319         11673  10000 to 14999
26            26  1/17/2016       104          2110    2000 to 3999
27            27  1/18/2014       443         16437  15000 to 24999
28            28  1/18/2015       275         11394  10000 to 14999
29            29  1/18/2016       417          6152    4000 to 7499
...          ...        ...       ...           ...             ...
1069        1069  9/28/2013       612         19800  15000 to 24999
1070        1070  9/28/2014       376         23302  15000 to 24999
1071        1071  9/28/2015      1304         15700  15000 to 24999
1072        1072  9/29/2013       517         15182  15000 to 24999
1073        1073  9/29/2014      1335         15652  15000 to 24999
1074        1074  9/29/2015      1408         16809  15000 to 24999
1075        1075   9/3/2013       597         17351  15000 to 24999
1076        1076   9/3/2014      1404         15637  15000 to 24999
1077        1077   9/3/2015      1294         16957  15000 to 24999
1078        1078  9/30/2013       976         19281  15000 to 24999
1079        1079  9/30/2014      1304         15149  15000 to 24999
1080        1080  9/30/2015      1203         12102  10000 to 14999
1081        1081   9/4/2013       606         17895  15000 to 24999
1082        1082   9/4/2014      1389         16094  15000 to 24999
1083        1083   9/4/2015      1129         13542  10000 to 14999
1084        1084   9/5/2013       677         16070  15000 to 24999
1085        1085   9/5/2014      1265         19160  15000 to 24999
1086        1086   9/5/2015       386         12370  10000 to 14999
1087        1087   9/6/2013       814         22249  15000 to 24999
1088        1088   9/6/2014       435         13037  10000 to 14999
1089        1089   9/6/2015       318         12304  10000 to 14999
1090        1090   9/7/2013       796         32397  25000 to 49999
1091        1091   9/7/2014       336         14917  10000 to 14999
1092        1092   9/7/2015       318         12101  10000 to 14999
1093        1093   9/8/2013       704         30955  25000 to 49999
1094        1094   9/8/2014      1305         26584  25000 to 49999
1095        1095   9/8/2015      1333         15474  15000 to 24999
1096        1096   9/9/2013       769         18543  15000 to 24999
1097        1097   9/9/2014      1362         22408  15000 to 24999
1098        1098   9/9/2015      1405         18680  15000 to 24999

[1099 rows x 5 columns]

In [12]:
#saves the new dataframe to a new csv called minutes_categorize.csv
rides_minutes.to_csv('minutes_categorize.csv', sep=',')

In [3]:
#loads the trip data csv into a dataframe

trip_data = pd.read_csv("C:/Users/Vi/Desktop/CMPE 188/Bikeshare-master/Data/trip_data.csv")

In [13]:
trip_data

        Unnamed: 0   TripID  Duration  StartDate SubscriptionType ZipCode
0                0     4576        63  8/29/2013       Subscriber   94127
1                1     4607        70  8/29/2013       Subscriber   95138
2                2     4130        71  8/29/2013       Subscriber   97214
3                3     4251        77  8/29/2013       Subscriber   95060
4                4     4299        83  8/29/2013       Subscriber   94103
5                5     4927       103  8/29/2013       Subscriber   94109
6                6     4500       109  8/29/2013       Subscriber   95112
7                7     4563       111  8/29/2013       Subscriber   95112
8                8     4760       113  8/29/2013       Subscriber   94103
9                9     4258       114  8/29/2013       Subscriber   95060
10              10     4549       125  8/29/2013       Subscriber   94109
11              11     4498       126  8/29/2013       Subscriber   95112
12              12     4965       129  8/29/2013       Subscriber   94041
13              13     4557       130  8/29/2013       Subscriber   94122
14              14     4386       134  8/29/2013       Subscriber   94109
15              15     4749       138  8/29/2013       Subscriber   94117
16              16     4242       141  8/29/2013       Subscriber   95060
17              17     4329       142  8/29/2013       Subscriber   94103
18              18     5097       142  8/29/2013       Subscriber   94115
19              19     5084       144  8/29/2013       Subscriber   94115
20              20     4982       146  8/29/2013       Subscriber   94105
21              21     4417       148  8/29/2013       Subscriber   94061
22              22     4265       151  8/29/2013       Subscriber   94110
23              23     5093       160  8/29/2013       Subscriber   94115
24              24     4168       161  8/29/2013         Customer   94117
25              25     4550       163  8/29/2013       Subscriber   95112
26              26     4533       165  8/29/2013       Subscriber   94109
27              27     4510       166  8/29/2013       Subscriber   95112
28              28     5070       168  8/29/2013       Subscriber   94115
29              29     4917       169  8/29/2013       Subscriber   94041
...            ...      ...       ...        ...              ...     ...
983618      983618  1338375      1786  8/31/2016         Customer   75075
983619      983619  1338376       293  8/31/2016       Subscriber   94133
983620      983620  1338377       554  8/31/2016       Subscriber   94107
983621      983621  1338378      9256  8/31/2016         Customer     nil
983622      983622  1338380       220  8/31/2016       Subscriber   94710
983623      983623  1338381       274  8/31/2016       Subscriber   95126
983624      983624  1338382       366  8/31/2016       Subscriber   94119
983625      983625  1338384       281  8/31/2016       Subscriber   94133
983626      983626  1338386       574  8/31/2016       Subscriber   94107
983627      983627  1338387       281  8/31/2016       Subscriber   94107
983628      983628  1338388       775  8/31/2016       Subscriber   94109
983629      983629  1338390       410  8/31/2016       Subscriber   94107
983630      983630  1338391       300  8/31/2016       Subscriber   94107
983631      983631  1338392       637  8/31/2016       Subscriber   94117
983632      983632  1338393       383  8/31/2016       Subscriber   94103
983633      983633  1338394       345  8/31/2016       Subscriber   94107
983634      983634  1338395       550  8/31/2016       Subscriber   94619
983635      983635  1338396       227  8/31/2016       Subscriber   94133
983636      983636  1338397       978  8/31/2016       Subscriber   94158
983637      983637  1338398       200  8/31/2016       Subscriber   95113
983638      983638  1338399       312  8/31/2016       Subscriber   94103
983639      983639  1338400       682  8/31/2016       Subscriber   94103
983640      983640  1338401      1008  8/31/2016       Subscriber   94107
983641      983641  1338402       221  8/31/2016       Subscriber   95113
983642      983642  1338403       198  8/31/2016         Customer   28211
983643      983643  1338404       511  8/31/2016       Subscriber   94109
983644      983644  1338405       701  8/31/2016       Subscriber   94133
983645      983645  1338406       457  8/31/2016       Subscriber   94111
983646      983646  1338407       260  8/31/2016       Subscriber   94114
983647      983647  1338408       378  8/31/2016       Subscriber   94111

[983648 rows x 6 columns]

In [14]:
#Prints duration of trip data to find the min and max values
trip_data['Duration'].describe()

count    9.836480e+05
mean     1.018932e+03
std      1.841684e+04
min      6.000000e+01
25%      3.470000e+02
50%      5.180000e+02
75%      7.480000e+02
max      1.727040e+07
Name: Duration, dtype: float64

In [15]:
#makes an empty column called DurCategorize

trip_data['DurCategorize'] = ""

In [17]:
#Sets the 10 different categorizes depending on range

trip_data.loc[(trip_data['Duration'] >= 0) & (trip_data['Duration'] < 120), 'DurCategorize'] = 'A'
trip_data.loc[(trip_data['Duration'] >= 120) & (trip_data['Duration'] < 360), 'DurCategorize'] = 'B'
trip_data.loc[(trip_data['Duration'] >= 360) & (trip_data['Duration'] < 525), 'DurCategorize'] = 'C'
trip_data.loc[(trip_data['Duration'] >= 525) & (trip_data['Duration'] < 750), 'DurCategorize'] = 'D'
trip_data.loc[(trip_data['Duration'] >= 750) & (trip_data['Duration'] < 1000), 'DurCategorize'] = 'E'
trip_data.loc[(trip_data['Duration'] >= 1000) & (trip_data['Duration'] < 1500), 'DurCategorize'] = 'F'
trip_data.loc[(trip_data['Duration'] >= 1500) & (trip_data['Duration'] < 2000), 'DurCategorize'] = 'G'
trip_data.loc[(trip_data['Duration'] >= 2000) & (trip_data['Duration'] < 4000), 'DurCategorize'] = 'H'
trip_data.loc[(trip_data['Duration'] >= 4000) & (trip_data['Duration'] < 8000), 'DurCategorize'] = 'I'
trip_data.loc[(trip_data['Duration'] >= 8000), 'DurCategorize'] = 'J'

In [18]:
trip_data

,Unnamed: 0,TripID,Duration,StartDate,SubscriptionType,ZipCode,DurCategorize
0,0,4576,63,8/29/2013,Subscriber,94127,A
1,1,4607,70,8/29/2013,Subscriber,95138,A
2,2,4130,71,8/29/2013,Subscriber,97214,A
3,3,4251,77,8/29/2013,Subscriber,95060,A
4,4,4299,83,8/29/2013,Subscriber,94103,A
5,5,4927,103,8/29/2013,Subscriber,94109,A
6,6,4500,109,8/29/2013,Subscriber,95112,A
7,7,4563,111,8/29/2013,Subscriber,95112,A
8,8,4760,113,8/29/2013,Subscriber,94103,A
9,9,4258,114,8/29/2013,Subscriber,95060,A
10,10,4549,125,8/29/2013,Subscriber,94109,B
11,11,4498,126,8/29/2013,Subscriber,95112,B
12,12,4965,129,8/29/2013,Subscriber,94041,B
13,13,4557,130,8/29/2013,Subscriber,94122,B
14,14,4386,134,8/29/2013,Subscriber,94109,B
15,15,4749,138,8/29/2013,Subscriber,94117,B
16,16,4242,141,8/29/2013,Subscriber,95060,B
17,17,4329,142,8/29/2013,Subscriber,94103,B
18,18,5097,142,8/29/2013,Subscriber,94115,B
19,19,5084,144,8/29/2013,Subscriber,94115,B
20,20,4982,146,8/29/2013,Subscriber,94105,B
21,21,4417,148,8/29/2013,Subscriber,94061,B
22,22,4265,151,8/29/2013,Subscriber,94110,B
23,23,5093,160,8/29/2013,Subscriber,94115,B
24,24,4168,161,8/29/2013,Customer,94117,B
25,25,4550,163,8/29/2013,Subscriber,95112,B
26,26,4533,165,8/29/2013,Subscriber,94109,B
27,27,4510,166,8/29/2013,Subscriber,95112,B
28,28,5070,168,8/29/2013,Subscriber,94115,B
29,29,4917,169,8/29/2013,Subscriber,94041,B
...,...,...,...,...,...,...,...
983618,983618,1338375,1786,8/31/2016,Customer,75075,G
983619,983619,1338376,293,8/31/2016,Subscriber,94133,B
983620,983620,1338377,554,8/31/2016,Subscriber,94107,D
983621,983621,1338378,9256,8/31/2016,Customer,nil,J
983622,983622,1338380,220,8/31/2016,Subscriber,94710,B
983623,983623,1338381,274,8/31/2016,Subscriber,95126,B
983624,983624,1338382,366,8/31/2016,Subscriber,94119,C
983625,983625,1338384,281,8/31/2016,Subscriber,94133,B
983626,983626,1338386,574,8/31/2016,Subscriber,94107,D
983627,983627,1338387,281,8/31/2016,Subscriber,94107,B
983628,983628,1338388,775,8/31/2016,Subscriber,94109,E
983629,983629,1338390,410,8/31/2016,Subscriber,94107,C
983630,983630,1338391,300,8/31/2016,Subscriber,94107,B
983631,983631,1338392,637,8/31/2016,Subscriber,94117,D
983632,983632,1338393,383,8/31/2016,Subscriber,94103,C
983633,983633,1338394,345,8/31/2016,Subscriber,94107,B
983634,983634,1338395,550,8/31/2016,Subscriber,94619,D
983635,983635,1338396,227,8/31/2016,Subscriber,94133,B
983636,983636,1338397,978,8/31/2016,Subscriber,94158,E
983637,983637,1338398,200,8/31/2016,Subscriber,95113,B
983638,983638,1338399,312,8/31/2016,Subscriber,94103,B
983639,983639,1338400,682,8/31/2016,Subscriber,94103,D
983640,983640,1338401,1008,8/31/2016,Subscriber,94107,F
983641,983641,1338402,221,8/31/2016,Subscriber,95113,B
983642,983642,1338403,198,8/31/2016,Customer,28211,B
983643,983643,1338404,511,8/31/2016,Subscriber,94109,C
983644,983644,1338405,701,8/31/2016,Subscriber,94133,D
983645,983645,1338406,457,8/31/2016,Subscriber,94111,C
983646,983646,1338407,260,8/31/2016,Subscriber,94114,B
983647,983647,1338408,378,8/31/2016,Subscriber,94111,C

In [19]:
#saves the new dataframe to a new csv called trip_data_categorize.csv

trip_data.to_csv('trip_data_categorize.csv', sep=',')