In [33]:

print(__doc__)

import numpy as np
import scipy as sp
import pandas as pd
import datetime


weather_data = pd.read_csv("Data/weather_data.csv")
trip_data = pd.read_csv("Data/trip_data.csv")
#trip_data.drop("Unnamed: 0", axis=1, inplace=True)
#trip_data.drop('StartStation', axis=1, inplace=True)
#trip_data.drop('StartTerminal', axis=1, inplace=True)
#trip_data.drop('EndDate', axis=1, inplace=True)
#trip_data.drop('EndStation', axis=1, inplace=True)
#trip_data.drop('EndTerminal', axis=1, inplace=True)
#trip_data.drop('Bike#', axis=1, inplace=True)
#trip_data.to_csv('out.csv')
# station_data = pd.read_csv("Bikeshare/station_data.csv")

Automatically created module for IPython interactive environment

In [34]:
weather_data.count()

Date                1099
MeanTemperatureF    1099
MeanHumidity        1099
PrecipitationIn     1099
CloudCover          1049
Events               223
zip                 1026
dtype: int64

In [35]:
weather_data.describe()

       MeanTemperatureF  MeanHumidity   PrecipitationIn       zip
count       1099.000000    1099.000000       1099.000000   1026.0
mean          62.074613      64.102821          0.334386  95113.0
std            7.824340      10.355845          1.226962      0.0
min           38.000000      25.000000          0.000000  95113.0
25%           56.000000      59.000000          0.000000  95113.0
50%           62.000000      65.000000          0.000000  95113.0
75%           69.000000      70.000000          0.000000  95113.0
max           82.000000      93.000000          8.000000  95113.0

In [36]:
trip_data

        Unnamed: 0   TripID  Duration  StartDate SubscriptionType ZipCode
0                0     4576        63  8/29/2013       Subscriber   94127
1                1     4607        70  8/29/2013       Subscriber   95138
2                2     4130        71  8/29/2013       Subscriber   97214
3                3     4251        77  8/29/2013       Subscriber   95060
4                4     4299        83  8/29/2013       Subscriber   94103
5                5     4927       103  8/29/2013       Subscriber   94109
6                6     4500       109  8/29/2013       Subscriber   95112
7                7     4563       111  8/29/2013       Subscriber   95112
8                8     4760       113  8/29/2013       Subscriber   94103
9                9     4258       114  8/29/2013       Subscriber   95060
10              10     4549       125  8/29/2013       Subscriber   94109
11              11     4498       126  8/29/2013       Subscriber   95112
12              12     4965       129  8/29/2013       Subscriber   94041
13              13     4557       130  8/29/2013       Subscriber   94122
14              14     4386       134  8/29/2013       Subscriber   94109
15              15     4749       138  8/29/2013       Subscriber   94117
16              16     4242       141  8/29/2013       Subscriber   95060
17              17     4329       142  8/29/2013       Subscriber   94103
18              18     5097       142  8/29/2013       Subscriber   94115
19              19     5084       144  8/29/2013       Subscriber   94115
20              20     4982       146  8/29/2013       Subscriber   94105
21              21     4417       148  8/29/2013       Subscriber   94061
22              22     4265       151  8/29/2013       Subscriber   94110
23              23     5093       160  8/29/2013       Subscriber   94115
24              24     4168       161  8/29/2013         Customer   94117
25              25     4550       163  8/29/2013       Subscriber   95112
26              26     4533       165  8/29/2013       Subscriber   94109
27              27     4510       166  8/29/2013       Subscriber   95112
28              28     5070       168  8/29/2013       Subscriber   94115
29              29     4917       169  8/29/2013       Subscriber   94041
...            ...      ...       ...        ...              ...     ...
983618      983618  1338375      1786  8/31/2016         Customer   75075
983619      983619  1338376       293  8/31/2016       Subscriber   94133
983620      983620  1338377       554  8/31/2016       Subscriber   94107
983621      983621  1338378      9256  8/31/2016         Customer     nil
983622      983622  1338380       220  8/31/2016       Subscriber   94710
983623      983623  1338381       274  8/31/2016       Subscriber   95126
983624      983624  1338382       366  8/31/2016       Subscriber   94119
983625      983625  1338384       281  8/31/2016       Subscriber   94133
983626      983626  1338386       574  8/31/2016       Subscriber   94107
983627      983627  1338387       281  8/31/2016       Subscriber   94107
983628      983628  1338388       775  8/31/2016       Subscriber   94109
983629      983629  1338390       410  8/31/2016       Subscriber   94107
983630      983630  1338391       300  8/31/2016       Subscriber   94107
983631      983631  1338392       637  8/31/2016       Subscriber   94117
983632      983632  1338393       383  8/31/2016       Subscriber   94103
983633      983633  1338394       345  8/31/2016       Subscriber   94107
983634      983634  1338395       550  8/31/2016       Subscriber   94619
983635      983635  1338396       227  8/31/2016       Subscriber   94133
983636      983636  1338397       978  8/31/2016       Subscriber   94158
983637      983637  1338398       200  8/31/2016       Subscriber   95113
983638      983638  1338399       312  8/31/2016       Subscriber   94103
983639      983639  1338400       682  8/31/2016       Subscriber   94103
983640      983640  1338401      1008  8/31/2016       Subscriber   94107
983641      983641  1338402       221  8/31/2016       Subscriber   95113
983642      983642  1338403       198  8/31/2016         Customer   28211
983643      983643  1338404       511  8/31/2016       Subscriber   94109
983644      983644  1338405       701  8/31/2016       Subscriber   94133
983645      983645  1338406       457  8/31/2016       Subscriber   94111
983646      983646  1338407       260  8/31/2016       Subscriber   94114
983647      983647  1338408       378  8/31/2016       Subscriber   94111

[983648 rows x 6 columns]

In [37]:
trip_data.count()

Unnamed: 0          983648
TripID              983648
Duration            983648
StartDate           983648
SubscriptionType    983648
ZipCode             976838
dtype: int64

In [38]:
dates = list(trip_data.iloc[:,3])

trip_data_edited = trip_data
trip_data_edited['StartDate'] = pd.to_datetime(trip_data_edited['StartDate'])

dates_and_occurences = sorted([[x, dates.count(x)] for x in set(dates)])
df = pd.DataFrame(dates_and_occurences)
df.columns = ["Date", "NumRides"]
df.to_csv('numrides.csv')
#df.plot()
#plt.show()

In [39]:
df

           Date  NumRides
0      1/1/2014       359
1      1/1/2015       181
2      1/1/2016        98
3     1/10/2014       983
4     1/10/2015       362
5     1/10/2016       133
6     1/11/2014       247
7     1/11/2015       327
8     1/11/2016      1060
9     1/12/2014       351
10    1/12/2015      1344
11    1/12/2016      1090
12    1/13/2014      1015
13    1/13/2015      1368
14    1/13/2016      1033
15    1/14/2014      1027
16    1/14/2015      1296
17    1/14/2016       838
18    1/15/2014      1100
19    1/15/2015      1229
20    1/15/2016       966
21    1/16/2014      1097
22    1/16/2015      1082
23    1/16/2016       162
24    1/17/2014      1014
25    1/17/2015       319
26    1/17/2016       104
27    1/18/2014       443
28    1/18/2015       275
29    1/18/2016       417
...         ...       ...
1069  9/28/2013       612
1070  9/28/2014       376
1071  9/28/2015      1304
1072  9/29/2013       517
1073  9/29/2014      1335
1074  9/29/2015      1408
1075   9/3/2013       597
1076   9/3/2014      1404
1077   9/3/2015      1294
1078  9/30/2013       976
1079  9/30/2014      1304
1080  9/30/2015      1203
1081   9/4/2013       606
1082   9/4/2014      1389
1083   9/4/2015      1129
1084   9/5/2013       677
1085   9/5/2014      1265
1086   9/5/2015       386
1087   9/6/2013       814
1088   9/6/2014       435
1089   9/6/2015       318
1090   9/7/2013       796
1091   9/7/2014       336
1092   9/7/2015       318
1093   9/8/2013       704
1094   9/8/2014      1305
1095   9/8/2015      1333
1096   9/9/2013       769
1097   9/9/2014      1362
1098   9/9/2015      1405

[1099 rows x 2 columns]

Price per minute = $2/30 mins

In [40]:
df['Date'] = pd.to_datetime(df['Date'])

In [41]:
changeDate = lambda x: x.weekday()
sLength = len(df['Date'])
Weekdays = pd.Series(np.random.randn(sLength))
Weekdays = df['Date'].apply(changeDate)
df = df.assign(Weekdays=Weekdays.values)

In [42]:
df

           Date  NumRides  Weekdays
0    2014-01-01       359         2
1    2015-01-01       181         3
2    2016-01-01        98         4
3    2014-01-10       983         4
4    2015-01-10       362         5
5    2016-01-10       133         6
6    2014-01-11       247         5
7    2015-01-11       327         6
8    2016-01-11      1060         0
9    2014-01-12       351         6
10   2015-01-12      1344         0
11   2016-01-12      1090         1
12   2014-01-13      1015         0
13   2015-01-13      1368         1
14   2016-01-13      1033         2
15   2014-01-14      1027         1
16   2015-01-14      1296         2
17   2016-01-14       838         3
18   2014-01-15      1100         2
19   2015-01-15      1229         3
20   2016-01-15       966         4
21   2014-01-16      1097         3
22   2015-01-16      1082         4
23   2016-01-16       162         5
24   2014-01-17      1014         4
25   2015-01-17       319         5
26   2016-01-17       104         6
27   2014-01-18       443         5
28   2015-01-18       275         6
29   2016-01-18       417         0
...         ...       ...       ...
1069 2013-09-28       612         5
1070 2014-09-28       376         6
1071 2015-09-28      1304         0
1072 2013-09-29       517         6
1073 2014-09-29      1335         0
1074 2015-09-29      1408         1
1075 2013-09-03       597         1
1076 2014-09-03      1404         2
1077 2015-09-03      1294         3
1078 2013-09-30       976         0
1079 2014-09-30      1304         1
1080 2015-09-30      1203         2
1081 2013-09-04       606         2
1082 2014-09-04      1389         3
1083 2015-09-04      1129         4
1084 2013-09-05       677         3
1085 2014-09-05      1265         4
1086 2015-09-05       386         5
1087 2013-09-06       814         4
1088 2014-09-06       435         5
1089 2015-09-06       318         6
1090 2013-09-07       796         5
1091 2014-09-07       336         6
1092 2015-09-07       318         0
1093 2013-09-08       704         6
1094 2014-09-08      1305         0
1095 2015-09-08      1333         1
1096 2013-09-09       769         0
1097 2014-09-09      1362         1
1098 2015-09-09      1405         2

[1099 rows x 3 columns]

In [43]:
#dates_minutes = list(trip_data.iloc[:,3])

#dates_and_minutes = sorted([[x, dates_minutes.count(x)] for x in set(dates)])
#df = pd.DataFrame(dates_and_occurences)
#df.to_csv('numrides.csv')

#f1=open('testfile', 'w+')
#for index, row in df.iterrows():
    #out = trip_data_edited.groupby(row['Date'])['StartDate'].sum
    #out = pd.DataFrame(trip_data_edited[trip_data_edited.StartDate.isin([row['Date']])])
    #total_minutes = (pd.DataFrame([out.sum(axis=0)]).iloc[0]['Duration'])/60
    #df.loc[df['Date'] == row['Date'], df['Minutes']] = total_minutes
    #f1.write(str(int(total_minutes))+'\n')
    #print(str(row['Date'])+str(int(total_minutes)))

In [52]:
rides_minutes = pd.read_csv("RidesMinutes.csv", index_col=0)
temp = pd.read_csv("tmp_and_hum.csv", index_col=0, delimiter=',', encoding="utf-8-sig")
# Really good work Daniel
#makes an empty column called MinCategorize
rides_minutes['MinCategorize'] = ""
#Sets the 10 different categorizes depending on range
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 0) & (rides_minutes['TotalMinutes'] < 500), 'MinCategorize'] = '0'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 500) & (rides_minutes['TotalMinutes'] < 2000), 'MinCategorize'] = '1'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 2000) & (rides_minutes['TotalMinutes'] < 4000), 'MinCategorize'] = '2'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 4000) & (rides_minutes['TotalMinutes'] < 7500), 'MinCategorize'] = '3'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 7500) & (rides_minutes['TotalMinutes'] < 10000), 'MinCategorize'] = '4'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 10000) & (rides_minutes['TotalMinutes'] < 15000), 'MinCategorize'] = '5'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 15000) & (rides_minutes['TotalMinutes'] < 25000), 'MinCategorize'] = '6'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 25000) & (rides_minutes['TotalMinutes'] < 50000), 'MinCategorize'] = '7'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 50000) & (rides_minutes['TotalMinutes'] < 100000), 'MinCategorize'] = '8'
rides_minutes.loc[(rides_minutes['TotalMinutes'] >= 100000), 'MinCategorize'] = '9'

temp.loc[(temp['PrecipitationIn '] == 0), 'PrecipitationIn '] = 0
temp.loc[(temp['PrecipitationIn '] > 0), 'PrecipitationIn '] = 1
#temp = sorted([[x, Date.count(x)] for x in set(Date)])
temp.sort_values(by='Date')

temp

,Date,MeanTemperatureF,MeanHumidity,PrecipitationIn,CloudCover,Events,zip,Templevel,HumidLevel
125,1/1/2014,49,62,0.0,2,NaN,95113,3,6
490,1/1/2015,42,46,0.0,0,NaN,95113,2,4
855,1/1/2016,42,66,0.0,4,NaN,95113,2,6
134,1/10/2014,52,69,0.0,3,NaN,95113,4,7
499,1/10/2015,54,80,0.0,4,NaN,95113,4,8
864,1/10/2016,52,86,1.0,7,NaN,95113,4,9
135,1/11/2014,51,78,0.0,4,NaN,95113,4,8
500,1/11/2015,50,92,0.0,6,Fog,95113,4,10
865,1/11/2016,56,72,0.0,6,NaN,95113,5,7
136,1/12/2014,52,72,0.0,3,NaN,95113,4,7
501,1/12/2015,51,80,1.0,2,NaN,95113,4,8
866,1/12/2016,55,73,0.0,5,NaN,95113,5,7
137,1/13/2014,56,48,0.0,0,NaN,95113,5,4
502,1/13/2015,54,67,0.0,3,Fog,95113,4,7
867,1/13/2016,54,71,1.0,6,Rain,95113,4,7
138,1/14/2014,57,43,0.0,0,NaN,95113,5,3
503,1/14/2015,51,66,0.0,4,NaN,95113,4,6
868,1/14/2016,50,76,1.0,6,Rain,95113,4,8
139,1/15/2014,55,37,0.0,0,NaN,95113,5,2
504,1/15/2015,51,72,0.0,4,NaN,95113,4,7
869,1/15/2016,58,64,1.0,5,Rain,95113,5,6
140,1/16/2014,56,40,0.0,0,NaN,95113,5,3
505,1/16/2015,53,74,0.0,5,NaN,95113,4,8
870,1/16/2016,58,83,1.0,6,Rain,95113,5,9
141,1/17/2014,54,42,0.0,0,NaN,95113,4,3
506,1/17/2015,54,85,0.0,6,NaN,95113,4,9
871,1/17/2016,59,86,1.0,7,Rain,95113,5,9
142,1/18/2014,54,46,0.0,0,NaN,95113,4,4
507,1/18/2015,55,86,0.0,5,NaN,95113,5,9
872,1/18/2016,59,80,1.0,6,Rain,95113,5,8
...,...,...,...,...,...,...,...,...,...
30,9/28/2013,67,53,0.0,1,NaN,95113,7,5
395,9/28/2014,67,68,0.0,4,NaN,95113,7,7
760,9/28/2015,66,74,0.0,4,NaN,95113,7,8
31,9/29/2013,66,70,0.0,2,NaN,95113,7,7
396,9/29/2014,65,74,0.0,4,NaN,95113,7,8
761,9/29/2015,64,70,0.0,6,NaN,95113,6,7
5,9/3/2013,70,58,0.0,1,NaN,95113,8,5
370,9/3/2014,69,68,0.0,3,NaN,95113,7,7
735,9/3/2015,66,64,0.0,1,NaN,95113,7,6
32,9/30/2013,67,74,0.0,3,NaN,95113,7,8
397,9/30/2014,65,63,0.0,1,NaN,95113,7,6
762,9/30/2015,62,81,1.0,6,Rain,95113,6,9
6,9/4/2013,69,62,0.0,1,NaN,95113,7,6
371,9/4/2014,70,65,0.0,4,NaN,95113,8,6
736,9/4/2015,66,60,0.0,2,NaN,95113,7,6
7,9/5/2013,68,60,0.0,1,NaN,95113,7,6
372,9/5/2014,67,71,0.0,2,NaN,95113,7,7
737,9/5/2015,67,56,0.0,1,NaN,95113,7,5
8,9/6/2013,72,54,0.0,0,NaN,95113,8,5
373,9/6/2014,67,67,0.0,3,NaN,95113,7,7
738,9/6/2015,69,40,0.0,2,NaN,95113,7,3
9,9/7/2013,78,45,0.0,0,NaN,95113,9,3
374,9/7/2014,66,70,0.0,3,NaN,95113,7,7
739,9/7/2015,75,32,0.0,1,NaN,95113,9,2
10,9/8/2013,74,59,0.0,0,NaN,95113,8,5
375,9/8/2014,63,70,0.0,3,NaN,95113,6,7
740,9/8/2015,78,29,0.0,0,NaN,95113,9,1
11,9/9/2013,75,60,0.0,1,NaN,95113,9,6
376,9/9/2014,65,68,0.0,2,NaN,95113,7,7
741,9/9/2015,81,29,0.0,0,NaN,95113,10,1

In [54]:
df1 = rides_minutes
df1['PrecipIn'] = temp['PrecipitationIn ']
df1

           Date  NumRides  TotalMinutes MinCategorize  PrecipIn
0      1/1/2014       359         16462             6       0.0
1      1/1/2015       181          6382             3       0.0
2      1/1/2016        98          4039             3       0.0
3     1/10/2014       983         13948             5       0.0
4     1/10/2015       362         14389             5       0.0
5     1/10/2016       133          3504             2       0.0
6     1/11/2014       247         12293             5       0.0
7     1/11/2015       327          9229             4       0.0
8     1/11/2016      1060         10649             5       0.0
9     1/12/2014       351         16102             6       0.0
10    1/12/2015      1344         14025             5       0.0
11    1/12/2016      1090         12543             5       0.0
12    1/13/2014      1015         15798             6       0.0
13    1/13/2015      1368         15812             6       0.0
14    1/13/2016      1033         10033             5       0.0
15    1/14/2014      1027         12268             5       0.0
16    1/14/2015      1296         14767             5       0.0
17    1/14/2016       838         10666             5       0.0
18    1/15/2014      1100         12704             5       0.0
19    1/15/2015      1229         14341             5       0.0
20    1/15/2016       966          9568             4       0.0
21    1/16/2014      1097         17151             6       0.0
22    1/16/2015      1082         19387             6       0.0
23    1/16/2016       162          3083             2       1.0
24    1/17/2014      1014         13937             5       0.0
25    1/17/2015       319         11673             5       0.0
26    1/17/2016       104          2110             2       0.0
27    1/18/2014       443         16437             6       0.0
28    1/18/2015       275         11394             5       0.0
29    1/18/2016       417          6152             3       0.0
...         ...       ...           ...           ...       ...
1069  9/28/2013       612         19800             6       0.0
1070  9/28/2014       376         23302             6       0.0
1071  9/28/2015      1304         15700             6       0.0
1072  9/29/2013       517         15182             6       0.0
1073  9/29/2014      1335         15652             6       0.0
1074  9/29/2015      1408         16809             6       0.0
1075   9/3/2013       597         17351             6       0.0
1076   9/3/2014      1404         15637             6       0.0
1077   9/3/2015      1294         16957             6       0.0
1078  9/30/2013       976         19281             6       0.0
1079  9/30/2014      1304         15149             6       0.0
1080  9/30/2015      1203         12102             5       0.0
1081   9/4/2013       606         17895             6       0.0
1082   9/4/2014      1389         16094             6       0.0
1083   9/4/2015      1129         13542             5       0.0
1084   9/5/2013       677         16070             6       0.0
1085   9/5/2014      1265         19160             6       0.0
1086   9/5/2015       386         12370             5       0.0
1087   9/6/2013       814         22249             6       0.0
1088   9/6/2014       435         13037             5       0.0
1089   9/6/2015       318         12304             5       0.0
1090   9/7/2013       796         32397             7       0.0
1091   9/7/2014       336         14917             5       0.0
1092   9/7/2015       318         12101             5       0.0
1093   9/8/2013       704         30955             7       0.0
1094   9/8/2014      1305         26584             7       0.0
1095   9/8/2015      1333         15474             6       0.0
1096   9/9/2013       769         18543             6       0.0
1097   9/9/2014      1362         22408             6       0.0
1098   9/9/2015      1405         18680             6       0.0

[1099 rows x 5 columns]

In [55]:
#Build dataset for random forest
df1['Weekdays']= df['Weekdays']
df1['Humidity']= temp['HumidLevel']
df1['Temperature']= temp['Templevel']
df1['CloudCover ']= temp['CloudCover ']
#df1['PrecipitationIn ']= temp['PrecipitationIn ']
target = df1['NumRides']
df1.Weekdays = df1.Weekdays.astype(int)
df1.sort_values(by='Date')
#df1.drop('Date', axis=1, inplace=True)
#df1.drop('NumRides', axis=1, inplace=True)
#df1.drop('TotalMinutes', axis=1, inplace=True)

,Date,NumRides,TotalMinutes,MinCategorize,PrecipIn,Weekdays,Humidity,Temperature,CloudCover
0,1/1/2014,359,16462,6,0.0,2,7,8,4
1,1/1/2015,181,6382,3,0.0,3,6,9,2
2,1/1/2016,98,4039,3,0.0,4,6,8,0
3,1/10/2014,983,13948,5,0.0,4,6,8,2
4,1/10/2015,362,14389,5,0.0,5,7,8,5
5,1/10/2016,133,3504,2,0.0,6,5,8,1
6,1/11/2014,247,12293,5,0.0,5,6,7,1
7,1/11/2015,327,9229,4,0.0,6,6,7,1
8,1/11/2016,1060,10649,5,0.0,0,5,8,0
9,1/12/2014,351,16102,6,0.0,6,3,9,0
10,1/12/2015,1344,14025,5,0.0,0,5,8,0
11,1/12/2016,1090,12543,5,0.0,1,6,9,1
12,1/13/2014,1015,15798,6,0.0,0,6,8,2
13,1/13/2015,1368,15812,6,0.0,1,6,7,4
14,1/13/2016,1033,10033,5,0.0,2,7,7,5
15,1/14/2014,1027,12268,5,0.0,1,7,7,4
16,1/14/2015,1296,14767,5,0.0,2,7,7,4
17,1/14/2016,838,10666,5,0.0,3,7,7,3
18,1/15/2014,1100,12704,5,0.0,2,7,8,4
19,1/15/2015,1229,14341,5,0.0,3,5,7,1
20,1/15/2016,966,9568,4,0.0,4,5,7,0
21,1/16/2014,1097,17151,6,0.0,3,4,8,0
22,1/16/2015,1082,19387,6,0.0,4,6,7,2
23,1/16/2016,162,3083,2,1.0,5,8,6,6
24,1/17/2014,1014,13937,5,0.0,4,7,6,2
25,1/17/2015,319,11673,5,0.0,5,6,7,0
26,1/17/2016,104,2110,2,0.0,6,6,7,1
27,1/18/2014,443,16437,6,0.0,5,5,6,1
28,1/18/2015,275,11394,5,0.0,6,4,6,0
29,1/18/2016,417,6152,3,0.0,0,4,6,0
...,...,...,...,...,...,...,...,...,...
1069,9/28/2013,612,19800,6,0.0,5,6,7,0
1070,9/28/2014,376,23302,6,0.0,6,6,8,0
1071,9/28/2015,1304,15700,6,0.0,0,7,7,4
1072,9/29/2013,517,15182,6,0.0,6,6,7,4
1073,9/29/2014,1335,15652,6,0.0,0,7,7,4
1074,9/29/2015,1408,16809,6,0.0,1,6,7,2
1075,9/3/2013,597,17351,6,0.0,1,6,7,1
1076,9/3/2014,1404,15637,6,0.0,2,5,8,2
1077,9/3/2015,1294,16957,6,0.0,3,6,8,1
1078,9/30/2013,976,19281,6,0.0,0,6,7,1
1079,9/30/2014,1304,15149,6,0.0,1,6,8,2
1080,9/30/2015,1203,12102,5,0.0,2,5,8,2
1081,9/4/2013,606,17895,6,0.0,2,6,8,4
1082,9/4/2014,1389,16094,6,0.0,3,7,8,4
1083,9/4/2015,1129,13542,5,0.0,4,6,8,4
1084,9/5/2013,677,16070,6,0.0,3,6,8,2
1085,9/5/2014,1265,19160,6,0.0,4,6,8,2
1086,9/5/2015,386,12370,5,0.0,5,7,7,1
1087,9/6/2013,814,22249,6,0.0,4,7,7,2
1088,9/6/2014,435,13037,5,0.0,5,6,7,5
1089,9/6/2015,318,12304,5,0.0,6,6,7,3
1090,9/7/2013,796,32397,7,0.0,5,6,8,4
1091,9/7/2014,336,14917,5,0.0,6,6,7,3
1092,9/7/2015,318,12101,5,0.0,0,7,7,4
1093,9/8/2013,704,30955,7,0.0,6,6,8,4
1094,9/8/2014,1305,26584,7,0.0,0,5,8,4
1095,9/8/2015,1333,15474,6,0.0,1,6,8,4
1096,9/9/2013,769,18543,6,0.0,0,6,7,6
1097,9/9/2014,1362,22408,6,0.0,1,6,8,2
1098,9/9/2015,1405,18680,6,0.0,2,6,7,1

In [57]:
df1.to_csv('randomForests.csv')